@import "./theme";
@import "./mixins";

body {
    font-family: sans-serif;
    padding-top: 50px;
}

.main-nav {
    padding: 15px;
    font-size: 30px;
    height: 70px;
    background-color: @page-title-background;

    a.tab {
        text-decoration: none;
        color: @title-font-color;
        .clickable;
    }

    .tab.active {
        border-bottom: 2px solid orange;
        padding-bottom: 4px;
        color: white;
        font-weight: 400;
    }

    .separator::after {
        content: "|";
        color: @title-font-color;
    }
}